
  border: none !important;
  background-color: transparent !important;
  width: 200px;
  border-radius: 0px;
  padding: 0px;
}

.community .room-controls {
  width: 67% !important;
}
@media only screen and (min-width: 1700px) {
  .community .room-controls {
    width: 55% !important;
  }
}

@media only screen and (max-width: 1500px) {
  .community .room-controls {
    width: 65% !important;
  }
}

@media only screen and (min-width: 1700px) {
  .community .room-controls {
    width: 55% !important;
  }
}

@media only screen and (max-width: 1355px) {
  .community .room-controls {
    width: 73% !important;
  }
}
@media only screen and (max-width: 1310px) {
  .community .room-controls {
    width: 73% !important;
  }
}

@media only screen and (max-width: 1285px) {
  .community .room-controls {
    width: 78% !important;
  }
}

@media only screen and (max-width: 1230px) {
  .community .room-controls {
    width: 80% !important;
  }
}

@media only screen and (max-width: 1110px) {
  .community .room-controls {
    width: 94% !important;
  }
}

@media only screen and (max-width: 1160px) {
  .community .room-controls {
    width: 84% !important;
  }
}

@media only screen and (max-width: 1090px) {
  .community .room-controls {
    width: 89% !important;
  }
}

@media only screen and (max-width: 1035px) {
  .community .room-controls--desktop__item:nth-of-type(4),
  .community .room-controls--desktop__item:nth-of-type(5),
  .community .room-controls--desktop__item:nth-of-type(6) {
    height: 30px !important;
  }
  .community .room-controls--desktop {
    width: 170px;
  }
}

/* @media only screen and (max-width: 1180px) {
  .community .room-controls--desktop {
    width: 200px;
}
  .community .room-controls--desktop__item {

    height: 60px!important;

}
} */
,
.community .room-controls--desktop__item .btn-meh {
}

.community .room-controls--desktop__item .btn-like::before {
  display: inline-block;
  width: 60px;
  height: 60px;
  content: "";
  background: url("https://nightbloo.github.io/plug/icons/woot.png")
    no-repeat 0 0;
  background-size: 70%;
  background-position: center !important;
}

.community .room-controls--desktop__item .btn-playlist:before {
  display: inline-block;
  width: 60px;
  height: 60px;
  content: "";
  background: url("https://nightbloo.github.io/plug/icons/grab.png")
    no-repeat 0 0;
  background-size: 70%;
  background-position: center !important;
}

.community .room-controls--desktop__item .btn-meh::before {
  display: inline-block;
  width: 60px;
  height: 60px;
  content: "";
  background: url("https://nightbloo.github.io/plug/icons/meh.png")
    no-repeat 0 0;
  background-size: 70%;
  background-position: center !important;
}

.fa-thumbs-down:before,
.fa-thumbs-up:before {
  content: "" !important;
}

.plugdjfont.icon-list {
  display: none;
}

.community .room-controls--desktop__item:hover:nth-of-type(4) {
  background-color: rgba(33, 230, 0, 0.2) !important;
  transition: ease-in-out 0.2s !important;
  cursor: pointer;
}

.community .room-controls--desktop__item:hover:nth-of-type(5) {
  background-color: rgba(255, 109, 40, 0.2) !important;
  transition: ease-in-out 0.2s !important;
  cursor: pointer;
}

.community .room-controls--desktop__item:hover:nth-of-type(6) {
  background-color: rgba(0, 235, 255, 0.2) !important;
  transition: ease-in-out 0.2s !important;
  cursor: pointer;
}

.community .room-controls--desktop__item:nth-of-type(4),
.community .room-controls--desktop__item:nth-of-type(5),
.community .room-controls--desktop__item:nth-of-type(6) {
  width: 75px !important;
  height: 60px !important;
  transition: ease-in-out 0.2s !important;
  border-style: solid;
  border-color: gray;
  border-radius: 200px;
  border-width: 3px;
}

@keyframes voteslide {
  0% {
    margin-top: 15px;
    opacity: 0;
  }
  25% {
    margin-top: 20px;
  }
  75% {
    margin-top: 25px;
  }
  100% {
    margin-top: 30px;
  }
}

@keyframes otherway {
  0% {
    margin-top: 30px;
  }
  25% {
    margin-top: 25px;
  }
  75% {
    margin-top: 20px;
  }
  100% {
    margin-top: 15px;
    opacity: 0;
  }
}

.room-controls--desktop__item:hover .room-controls--desktop__item-value {
  display: block;
  animation: voteslide 0.5s;
  animation-fill-mode: forwards;
}
.room-controls--desktop__item .room-controls--desktop__item-value {
  animation: otherway 0.5s;
  animation-fill-mode: forwards;
}

.room-controls--desktop__item-value {
  display: block;
  font-size: 14px !important;
  padding-top: 4px;
  border-color: gray;
  border-width: 3px;
  border-style: solid;
  border-radius: 100px;
  width: 27px;
  height: 22px;
  margin-left: 15px;
  margin-top: -25px;
  background-color: #40100c;
}

.community .room-controls--desktop__item .btn-like.clicked::before {
  border-radius: 200px;
  background-color: rgba(33, 230, 0, 0.2) !important;
}

.community .room-controls--desktop__item .btn-meh.clicked::before {
  border-radius: 200px;

  background-color: rgba(255, 109, 40, 0.2) !important;
}
.community .room-controls--desktop__item .btn-playlist.clicked::before {
  border-radius: 200px;

  background-color: rgba(0, 235, 255, 0.2);
}

.btn-no-dj-primary.btn-no-dj-secondary__bottom,
.btn-no-dj-secondary.btn-no-dj-secondary__bottom {
  border: 3px solid gray;
  border-radius: 100px;
  background-color: rgba(64, 16, 12, 0.9);
}
.btn-no-dj-secondary:hover {
  background-color: rgba(94, 66, 62, 0.9) !important;
}
