/*#### [TAG PERFIL] ####*/
       
	/*## [TAG-BOT] ##*/
	   
        /*# [dorito] #*/
#user-rollover.id-22377749 .level:after {
    background-image: url(none);
    background-repeat: no-repeat;
    content: "[BOT]";
    display: inline-block;
    color: #44e7ed!important;
    font-weight: bold;
    margin: 0px 0px 0 20px!important;
    padding: 0 0 0 18px;
}
	/*## [TAG-VIP] ##*/
	
       /*# [Nana] #*/
#user-rollover.id-21755082 .level:after {
    background-image: url(none);
    background-repeat: no-repeat;
    content: "[VIP]";
    display: inline-block;
    color: #e2da24!important;
    font-weight: bold;
    margin: 0px 0px 0 20px!important;
    padding: 0 0 0 18px;
}
       /*# [Awayshift] #*/
#user-rollover.id-1380997 .level:after {
    background-image: url(none);
    background-repeat: no-repeat;
    content: "[VIP]";
    display: inline-block;
    color: #e2da24!important;
    font-weight: bold;
    margin: 0px 0px 0 20px!important;
    padding: 0 0 0 18px;
}
        /*# [Lolla] #*/
#user-rollover.id-23246837 .level:after {
    background-image: url(none);
    background-repeat: no-repeat;
    content: "[VIP]";
    display: inline-block;
    color: #e2da24!important;
    font-weight: bold;
    margin: 0px 0px 0 20px!important;
    padding: 0 0 0 18px;
}
        /*# [Mina] #*/
#user-rollover.id-38741985 .level:after {
    background-image: url(none);
    background-repeat: no-repeat;
    content: "[VIP]";
    display: inline-block;
    color: #e2da24!important;
    font-weight: bold;
    margin: 0px 0px 0 20px!important;
    padding: 0 0 0 18px;
}
        /*# [#] #*/
#user-rollover.id-0000000 .level:after {
    background-image: url(none);
    background-repeat: no-repeat;
    content: "[VIP]";
    display: inline-block;
    color: #e2da24!important;
    font-weight: bold;
    margin: 0px 0px 0 20px!important;
    padding: 0 0 0 18px;
}
        /*# [#] #*/
#user-rollover.id-0000000 .level:after {
    background-image: url(none);
    background-repeat: no-repeat;
    content: "[VIP]";
    display: inline-block;
    color: #e2da24!important;
    font-weight: bold;
    margin: 0px 0px 0 20px!important;
    padding: 0 0 0 18px;
}
        /*# [#] #*/
#user-rollover.id-0000000 .level:after {
    background-image: url(none);
    background-repeat: no-repeat;
    content: "[VIP]";
    display: inline-block;
    color: #e2da24!important;
    font-weight: bold;
    margin: 0px 0px 0 20px!important;
    padding: 0 0 0 18px;
}
    /*## [TAG-DIAMANTE] ##*/
	
        /*# [#] #*/
#user-rollover.id-0000000 .level:after {
    background-image: url(none);
    background-repeat: no-repeat;
    content: '[VIP]';
    display: inline-block;
    color: #e2da24!important;
    font-weight: bold;
    margin: 0px 0px 0 20px!important;
    padding: 0 0 0 18px;
}
/*#### [TAG-IMAGEM-CHAT] ####*/

    /*## [DIAMANTE] ##*/
	
        /*# [Nana] #*/
#chat [data-cid^='21755082-'] .un:after, #user-lists .list .user.id-21755082 .name:after, #user-rollover.id-21755082 .username:after {
    content: url(https://cdn.radiant.dj/rcs/icons/donatorDiamond.png);
    margin: 10px;
    color: #2b7b30;
}
        /*# [Awayshift] #*/
#chat [data-cid^='1380997-'] .un:after, #user-lists .list .user.id-1380997 .name:after, #user-rollover.id-1380997 .username:after {
    content: url(https://cdn.radiant.dj/rcs/icons/donatorDiamond.png);
    margin: 10px;
}
        /*# [Lolla] #*/
#chat [data-cid^='23246837-'] .un:after, #user-lists .list .user.id-23246837 .name:after, #user-rollover.id-23246837 .username:after {
    content: url(https://cdn.radiant.dj/rcs/icons/donatorDiamond.png);
    margin: 5px;
    color: #2b7b30;
}
	/*## [TAG-EXTRA] ##*/
	
        /*# [Mina] #*/
#chat [data-cid^='38741985-'] .un:after, #user-lists .list .user.id-38741985 .name:after, #user-rollover.id-38741985 .username:after {
    content: url(https://cdn.radiant.dj/rcs/icons/donatorDiamond.png);
    margin: 5px;
    color: #2b7b30;
}
        /*# [Ninguem] #*/
#chat [data-cid^='000000-'] .un:after, #user-lists .list .user.id-000000 .name:after, #user-rollover.id-000000 .username:after {
    content: url(https://cdn.radiant.dj/rcs/icons/donatorDiamond.png);
    margin: 5px;
    color: #2b7b30;
}
        /*# [Ninguem] #*/
#chat [data-cid^='000000-'] .un:after, #user-lists .list .user.id-000000 .name:after, #user-rollover.id-000000 .username:after {
    content: url(https://cdn.radiant.dj/rcs/icons/donatorDiamond.png);
    margin: 5px;
    color: #2b7b30;
}
        /*# [Ninguem] #*/
#chat [data-cid^='000000-'] .un:after, #user-lists .list .user.id-000000 .name:after, #user-rollover.id-000000 .username:after {
    content: url(https://cdn.radiant.dj/rcs/icons/donatorDiamond.png);
    margin: 5px;
    color: #2b7b30;
}
        /*# [Ninguem] #*/
#chat [data-cid^='000000-'] .un:after, #user-lists .list .user.id-000000 .name:after, #user-rollover.id-000000 .username:after {
    content: url(https://cdn.radiant.dj/rcs/icons/donatorDiamond.png);
    margin: 5px;
    color: #2b7b30;
}
/*#### [TAG-ANTES-DO-NOME] ####*/

    /*## [CSS/BOT] ##*/
	
        /*# [#] #*/
#chat [data-cid^='00000000-'] .un:before {
    content: '[VIP]';
    top: 0px;
    Left: 0px;
	color: #e2da24!important;
    padding-left: 2px;
    padding-right: 4px;
    position: relative;
}
#chat [data-cid^='0000000-'] .un:before {
    content: '[BOT]';
    top: 0px;
    Left: 0px;
	color: #44e7ed!important;
    padding-left: 2px;
    padding-right: 4px;
    position: relative;
}
        /*# [TAG-VIP] #*/
		/*# Nana #*/
#chat [data-cid^='21755082-'] .un:before {
    content: '[VIP]';
    top: 0px;
    Left: 0px;
	color: #e2da24!important;
    padding-left: 2px;
    padding-right: 4px;
    position: relative;
}
		/*# Alwayshift #*/
#chat [data-cid^='1380997-'] .un:before {
    content: '[VIP]';
    top: 0px;
    Left: 0px;
	color: #e2da24!important;
    padding-left: 2px;
    padding-right: 4px;
    position: relative;
}
		/*# Lolla #*/
#chat [data-cid^='23246837-'] .un:before {
    content: '[VIP]';
    top: 0px;
    Left: 0px;
	color: #e2da24!important;
    padding-left: 2px;
    padding-right: 4px;
    position: relative;
}
		/*# Mina #*/
#chat [data-cid^='38741985-'] .un:before { 
    content: '[VIP]';
    top: 0px;
    Left: 0px;
	color: #e2da24!important;
    padding-left: 2px;
    padding-right: 4px;
    position: relative;
}
		/*# null #*/
#chat [data-cid^='null-'] .un:before {
    content: '[VIP]';
    top: 0px;
    Left: 0px;
	color: #e2da24!important;
    padding-left: 2px;
    padding-right: 4px;
    position: relative;
}
		/*# null #*/
#chat [data-cid^='null-'] .un:before {
    content: '[VIP]';
    top: 0px;
    Left: 0px;
	color: #e2da24!important;
    padding-left: 2px;
    padding-right: 4px;
    position: relative;
}
		/*# null #*/
#chat [data-cid^='null-'] .un:before {
    content: '[VIP]';
    top: 0px;
    Left: 0px;
	color: #e2da24!important;
    padding-left: 2px;
    padding-right: 4px;
    position: relative;
}
		/*# null #*/
#chat [data-cid^='null-'] .un:before {
    content: '[VIP]';
    top: 0px;
    Left: 0px;
	color: #e2da24!important;
    padding-left: 2px;
    padding-right: 4px;
    position: relative;
}
		/*# null #*/
#chat [data-cid^='null-'] .un:before {
    content: '[VIP]';
    top: 0px;
    Left: 0px;
	color: #e2da24!important;
    padding-left: 2px;
    padding-right: 4px;
    position: relative;
}
